.main {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
  justify-content: flex-start;
  margin: auto;
  max-width: 500px;
  min-height: calc(100vh - (var(--navHeight, 66px) * 2));
  padding: 1.5rem 1rem;
}
