.allocation {
  position: relative;
  padding: 0.5em 0 0;
  border: 1px solid black;
  border-radius: 4px;
}

.obscure {
  position: absolute;
  inset: -0.5em;
  top: -1.5em;
  backdrop-filter: blur(5px);
  background: #e0e9e68e;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 8px 1px #cddbdb;
}

.addressLabel {
  position: absolute;
  top: -14px;
  left: calc(0.5em + 8px);
  pointer-events: none;
  display: flex;
  align-items: center;
  gap: 5px;
  background: ghostwhite;
  border: 0.5px solid;
  border-radius: 4px;
  padding: 4px 8px;
}

.addressLabel img {
  height: 1em;
  width: 1em;
  border-radius: 100px;
}

.addressLabel p {
  margin: 0;
  line-height: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
}

.item {
  margin-top: 1.5rem;
  width: 50%;
}

.item > dt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.label {
  color: #5d6d74;
  font-size: 0.75em;
  font-weight: 700;
}

.item > dd {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
}

.status {
  border-top: 1px solid black;
  border-radius: 0 0 4px 4px;
  padding: 1em 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.status.available {
  background-color: #d6f7df;
}

.status.fullClaim {
  background-color: #d6f7df;
}

.status.notAvailable {
  background-color: #f1ebde;
}

.status p {
  margin: 0;
}
