.allocation {
  position: relative;
  padding: 0.5em 0;
}

.obscure {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(5px);
  background: #e0e9e68e;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
}

.item {
  margin-top: 1rem;
  width: 50%;
}

.item > dt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.label {
  color: #5d6d74;
  font-size: 0.75em;
  font-weight: 700;
}

.item > dd {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
}

.status {
  border: 1px solid;
  border-radius: 4px;
  padding: 1em 0;
  margin: 0.5em 0.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.status.available {
  background-color: #d6f7df;
  border-color: #9fddaf;
}

.status.fullClaim {
  background-color: #d6f7df;
  border-color: #9fddaf;
}

.status.notAvailable {
  background-color: #ebfcff;
  border-color: #aad4db;
}

.status p {
  margin: 0;
}
