.vestingInfo {
  margin-bottom: 40px;
  position: relative;
}

.vestingInfo p {
  margin-top: 0;
}

.vestingInfo a {
  color: blue;
  text-decoration: underline;
}

.statusContainer {
  position: absolute;
  bottom: -4px;
  right: calc(0.5em + 8px);
}

.connectionStatus {
  pointer-events: none;
  display: flex;
  align-items: center;
  gap: 5px;
  background: ghostwhite;
  border: 0.5px solid;
  border-radius: 4px;
  padding: 4px 4px;
}

.indicator {
  width: 8px;
  height: 8px;
  border-radius: 99px;
  background-color: #13ff7f;
  animation: blink 2s ease-in-out infinite;
}

.indicator.error {
  background-color: #ffc013;
  animation: blink 1s ease-in-out infinite;
}

.indicatorLabel {
  margin: 0;
  font-size: 0.8em;
  line-height: 1em;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
